<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet"/>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()


</body>
</html>
@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
